node_modules/

.env
.env.local

data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

npm-debug.log*

.DS_Store
.idea/
.vscode/
*.swp

coverage/

frontend/dashboard/dist/
frontend/mobile/.expo/
frontend/dashboard/.DS_Store
frontend/mobile/.DS_Store
